.custom-heading{
    font-family: 'Open sans', sans-serif;
}
.justified-text{
    text-align: justify;
}
.carousel-img{
    height: 400px;
  object-fit: contain;
  width: 100%;
}
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
.home-section{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #f1f1f1;
}
.about-size{
  margin-top: 100px;
  margin-bottom: 100px;
}
.custom-size{
  margin-top: 100px;
  margin-bottom: 100px;
}